﻿@model BatuaShop2.ViewModels.ShopCartViewModel
<head>
    <title>Корзина</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/cart.css" rel="stylesheet">
</head>
<body style="margin:0;">
@await Html.PartialAsync("ShowTopDefaultWithoutLogo")


<div class="container">
    <h2 class="cart container">КОРЗИНА</h2>
    @if (Model.shopCart.getShopItems().Count > 0) {
        foreach (var el in ShopCart.listShopItems)
        {
            @await Html.PartialAsync("ShowCartItem", el)
        }
    } else
    {
        <h3>У вас нет товаров в корзине!</h3>
    }
    <table border="0" cellpadding="10" cellspacing="0" class="cart-price" width="100%">
        <tr>
            <td align="left" width="50%"></td>
            <td align="right" width="50%">
                @{uint sum = 0;
                    @foreach (var el in ShopCart.listShopItems)
                    {
                        sum += el.price * el.count;
                    }
                }
                <p>Суммарно: @sum .руб</p>
            </td>
        </tr>
        <tr>
            <td align="left" width="50%">
                <button class="continue_button cart-buttons" onclick="goToBooks()">ПРОДОЛЖИТЬ ПОКУПКИ</button>
            </td>
            @{ 
                var CheckoutVisibility = ShopCart.listShopItems.Count > 0 ? "visible" : "hidden";
            }
            <td align="right" width="50%" style="visibility:@CheckoutVisibility">
                <a asp-controller="Order" asp-action="Checkout">
                    <button class="buy-button cart-buttons">ОФОРМИТЬ</button>
                </a>
            </td>
        </tr>
    </table>
    <br>
</div>

<div class="container">
       
    <hr>
        
</div>

@await Html.PartialAsync("Footer")

</body>

<script>
    function goToBooks() {
        location.href = "localhost:44315";
        location.pathname = "/Books/List/";
    }
</script>