﻿<head>
    <link href="~/css/complete_order.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Завершение покупки</title>
</head>
<body>
@await Html.PartialAsync("ShowTopDefault");
<div class="complete_order">
    <hr>
    <img src="~/img/galka.png" alt="">
    <br>
    <h1>Заказ успешно завершен!</h1>
</div>
@await Html.PartialAsync("Footer")

</body>