﻿<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/Login.css" rel="stylesheet" media="screen">
    <title>Вход</title>
</head>
<body>
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row-container">
                <div class="img-container">
                    <img src="~/img/LogInPage.jpg" class="img-form img-fluid" alt="">
                </div> 
                <div class="info-container">
                    <h1 class="shop-name">BookShop</h1>
                    <div id="login" class="user-info">
                        <div>
                            <form asp-action="Login" asp-controller="Authorization" method="post">
                                <input id="email" name="email" type="email" placeholder="Логин*" required/>
                                <input name="password" type="password" placeholder="Пароль*" class="" required/>
                                <button type="submit" class="btn1">Вход</button>
                            </form>
                        </div>
                        <div class="another-panel">
                            <a onclick="DisplayRegister()">Регистрация</a>
                        </div>
                    </div>
                    <div id="register" class="user-info">
                        <div>
                            <form asp-action="Registration" asp-controller="Authorization" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input name="email" type="email" placeholder="Эл.почта*" class="form-control" required/>
                                    </div>
                                    <div class="col-md-6">
                                        <input name="password" type="password" placeholder="Пароль*" class="form-control" required/>
                                    </div>
                                </div>
                                <input name="secondName" type="text" placeholder="Фамилия*" class="form-control  my-2 p-2" required/>
                                <input name="name" type="text" placeholder="Имя*" class="form-control  my-2 p-2" required/>
                                <input name="lastName" type="text" placeholder="Отчество*" class="form-control my-2 p-2" required/>
                                <button type="submit" class="btn1">Регистрация</button>
                            </form>
                        </div>
                        <div class="another-panel">
                            <a style="text-decoration:none; color:inherit; cursor:pointer;" onclick="DisplayLogin()">Войти в аккаунт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            function DisplayRegister(){
                document.getElementById("login").style.display = "none";
                document.getElementById("register").style.display = "block";
            }
            function DisplayLogin(){
                document.getElementById("register").style.display = "none";
                document.getElementById("login").style.display = "block";
            }
    </script>
</body>