﻿<h2>Regisration Page</h2>

<form asp-action="Registration" asp-controller="Authorization" method="post">
    <input type="text" name="username" value=""/>
    <input type="text" name="password" value=""/>
    <button type="submit">
        Registration
    </button>
</form>