﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BatuaShop2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    
    <link href="~/css/Footer.css" rel="stylesheet" media="screen">
    <link href="~/css/CategoriesStyle.css" rel="stylesheet">
    <link href="~/css/header_normal.css" rel="stylesheet" media="screen">
    <link href="~/css/GenreCategories.css" rel="stylesheet" media="screen">
    
    <script src="~/js/JQuery3.3.1.js"></script>
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
</head>
<body>
<div>
    @RenderBody()
</div>

</body>
</html>