﻿<div id="Top" class="bg-img">
    <div id="Header">
        <div class="menu">
            <ul>
                <li style="cursor:pointer;"><a id="browse" onclick="showCategory()"><b class="browse">Категории</b></a></li>
                <li style="float:right"><a asp-controller="Authorization" asp-action="Login"><img src="~/img/user_normal.png" class="profile" alt="User"></a></li>
                <li style="float:right"><a asp-controller="ShopCart" asp-action="Index"><img src="~/img/basket_normal.png" class="profile" alt="Basket"></a></li>
            </ul>
        </div>
        @await Html.PartialAsync("ShowMenu")
    </div>
    <div id="Up_Logo_Normal">
        <a onclick="goHome()">
            <img src="~/img/logo_black.svg" alt="logo_text">
        </a>
    </div>
</div>

<script>

    function goHome() {

        location.href = "localhost:44315";
        location.pathname = "Home/Index";
    }

    let count = 0;
    function showCategory() {
        const category = document.getElementById("category");
        if (count == 0)
            category.style.visibility = 'visible';
        else
            category.style.visibility = 'hidden';
        count = count == 0 ? 1 : 0;
    }

    const element = document.getElementById('category');
    document.addEventListener('click', function ({ target }) {
        let isVisible;
        isVisible = element.contains(target);
        (count > 0) ? count++ : 0;
        if (!isVisible && count >= 3) {
            document.getElementById('category').style.visibility = "hidden";
            count = 0;
        }
    });
</script>