﻿<div class="category" id="category">
    <div class="category__row">
        <div class="category__column">
            <ul class="category__list">
                <li class="category__list--item">
                    <a onclick="changeAddress('7')"><span>Хоррор</span></a>
                </li>
                <li class="category__list--item">
                    <a onclick="changeAddress('6')"><span>Романтика</span></a>
                </li>
                <li class="category__list--item">
                    <a onclick="changeAddress('4')"><span>Готовка</span></a>
                </li>
                <li class="category__list--item">
                    <a onclick="changeAddress('1')"><span>Комиксы</span></a>
                </li>
            </ul>
        </div>
        <div class="category__line"></div>
        <div class="category__column">
            <ul class="category__list">
                <li class="category__list--item">
                    <a onclick="changeAddress('5')"><span>Научное фантастика</span></a>
                </li>
                <li class="category__list--item disabled">
                    <span>Научное фэнтези</span>
                </li>
                <li class="category__list--item">
                    <a onclick="changeAddress('2')"> <span>Популярное</span></a>
                </li>
                <li class="category__list--item">
                    <a onclick="changeAddress('3')"><span>Детские книги</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function changeAddress(bookCat) {
        location.href = "localhost:44315";
        location.pathname = "/Books/List/" + bookCat;
    }
</script>
