﻿<head>

    <link href="~/css/oneBook.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Книга</title>
</head>
@model BatuaShop2.ViewModels.OneBookViewModel


<body>
@await Html.PartialAsync("ShowTopDefaultWithoutLogo");
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr style="margin-left: 10px;" class="book_hr">
            <h2 class="text-center">Название</h2>
            <p class="book_style_name text-center">@Model.book.name</p>

            <br>
            <p class="text-center book_style_price">
                <b>Цена - @Model.book.price руб.</b>
            </p>
            <div class="buy_book_panel">
                <form >
                    <button asp-controller="OneBook" asp-action="AddToCart" asp-route-id="@Model.book.id">В КОРЗИНУ</button>
                    @{ var color = Model.isFavourite ? "#188aff" : "black";}
                    <i class="fa fa-bookmark fa-2x" onclick="addToFavourite(@Model.book.id)" style="color: @color"></i>
                </form>

            </div>
        </div>
        <div class="col-5">
            <div class="book_style_img">
                <img class="book_style_box" style="width:500px;height:800px;" src="@Model.book.img" alt="bookPage">
            </div>
        </div>
        <div class="col">
            <hr style="margin-right: 10px;" class="book_hr">
            <div class="book_style-desc">
                <br>
                <div class="full-desc">
                    <h2 class="text-center">Описание</h2>
                    <p>
                        @Model.book.longDesc
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="height: 2px;">
@{
    if (Model.sameBooks.Count > 0)
    {
        <div class="container">
            <h1 class="book_style_bottom_panel book_style_bottom_panel_header">
                <b>ПОХОЖИЕ КНИГИ</b>
            </h1>
            <div style="margin-left: 30px;" class="row">
                @{
                    foreach (var book in Model.sameBooks)
                    {
                        <div class="col" onclick="openBook(@book.id)">
                            <div class="book_style_bottom_panel">
                                <img class="book_style_bottom_img" src="@book.img" alt="book">
                                <P>@book.name</P>
                                <P>@book.price руб.</P>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <hr style="height: 2px;">
    }
}

@await Html.PartialAsync("Footer")

</body>
<script>
    function openBook(bookId) {
        location.href = "localhost:44315";
        location.pathname = "/OneBook/GetOneBook/" + bookId;
    }
    function addToFavourite(bookId){
        var book = {
            bookId : bookId
        };
        $.ajax({
              type: "POST",
                              url: "/Books/AddToFavourite/",
                              data: book,
                              async: true,
                              error: function (jqXHR, textStatus, errorThrown) {
                                  alert("Error- Status: " + textStatus + " jqXHR Status: " + jqXHR.status + " jqXHR Response Text:" + jqXHR.responseText) },
                              success: function (msg) {
                                  location.reload();
                              }
            });
    }
</script>