﻿@model BatuaShop2.ViewModels.FooterViewModel
<head>
    <link href="~/css/complete_order.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Завершение покупки</title>
</head>
<body>
@await Html.PartialAsync("ShowTopDefault");
<div class="complete_order">
    @{
        if (Model.Saved)
        {
            <hr>
            <img src="~/img/galka.png" alt="">
            <br>
            <h1>Почта сохранена! Ждите уведомлений от нас!</h1>
        }
        else
        {
            <h1>Вы уже сохраняли свою почту! Спасибо!</h1>
        }
    }
</div>
@await Html.PartialAsync("Footer")

</body>