body{
	margin: 0;
	padding: 0;
	background: white;
	line-height: normal;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.col-md-3{
  padding: 5px;
}

.page{
	font-family: 'Microsoft Himalaya', sans-serif;
	margin-right: 2%;
}

.nav{
	display: flex;
	text-align: right;
	cursor: pointer;
}

.nav a{
	color: #000;
	padding-left: 5px;
	font-size: 40px;
	text-decoration: none;
}

.nav a:hover
{
	color:inherit;
	text-decoration:none;
}

i {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrowleft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.fiction {
    font-family: 'Times New Roman', sans-serif;
    text-align: left;
    font-size: 50px;
    margin-bottom: -20px;
}

.qwer img {
	width: inherit;
}

/*book description*/
.book_desc {
    text-align: left;
    font-family: 'Times New Roman', sans-serif;
    position: relative;
}

/*book_name*/
.book_name {
    line-height: 20px;
    font-size: 22px;
    font-family: 'Times New Roman', sans-serif;
    color: #060606;
}

/*price*/
.book_price{
	font-size: 30px;
	color: #060606;
	position: relative;
}

.book_img{
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 15px;
    width:200px;
    
}
