.category {
  width: 390px;
  height: 217px;

  left: 25px;
  top: 48px;

  position: absolute;
  background: url("../img/category.svg");
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 10;
  visibility: hidden;
}

.category__row {
  height: 187px;
  width: 100%;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
}

.category__column {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.category__line {
  margin: 20px 0;
  border-radius: 40%;
  height: 75%;
  width: 5px;
  background: rgba(112, 112, 112, 0.7);
}

.category__list {
  min-height: 110px;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
}

.category__list--item {
  width: 100%;
  font-family: Oswald, serif;
  font-size: 17px;
  text-align: center;
  color: rgb(115, 115, 126);
  margin: 2px 0;
  cursor: pointer;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}
