*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #fcf3ed;
    min-height: 100vh;
}

.jumbotron.vertical-center {
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.btn-close:focus{
    outline: none !important;
    box-shadow: none !important;
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
}

.vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

.row-container{
	background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px rgba(101, 101, 104, 0.3);
	height: 60vh;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: start;
}

#register{
    display: none;
}

.img-container{
	height: 100%;
	min-width: fit-content;
}

.img-form{
	height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.info-container{
	width: 100%;
}

.shop-name{
	font-weight: bold;
	text-align: center;
}

.user-info{
	width: 100%;
	padding: 0 50px;
}

.user-info input{
	width: 100%;
	background-color: #fff;
	border: 1px solid #ced4da;
	line-height: 1.5;
	border-radius: .25rem;
	padding: .375rem .75rem;
	margin-bottom: 10px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
	margin: 5px 0;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}

.another-panel{
	text-align: center;
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}