#browse{
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.order-num{
    font-weight: 600;
}

.no-row-line td{
    border: none !important;
}

.label-text{
    color: #666666;
    font-weight: 800;
}

.menu-list{
    position: relative;
    padding: 40px;
    width: 300px;
    background-color: rgb(20, 24, 33);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
}

.menu-list li{
    position: relative;
    list-style: none;
}

.menu-list li a{
    text-decoration: none;
    display: flex;
}

.menu-list li a .icon{
    width: 60px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}

.menu-list li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    color: #636369;
    opacity: 0.4;
    transition: 0.5s;

}

.menu-list li a .icon .fa:last-child{
    color: #188aff;
    opacity: 1.0;
}

.menu-list li a:hover .icon .fa{
    transform: translateY(-100%);
}

.menu-list li a:hover .icon .fa:last-child{
    transform: translateY(-100%);
}

.selected .icon .fa{
    transform: translateY(-100%);
}

.selected .icon .fa:last-child{
    transform: translateY(-100%);
}

.menu-list li a .name{
    position: relative;
    top: 20px;
    height: 20px;
    width: 100%;
    display: block;
}

.menu-list li a .name span{
    display: block;
    position: relative;
    color: #76828a;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
}

.select-box {
    width: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.options-container {
    max-height: 0;
    width: 100%;
    background: #f5f6fa;
    color: #2f3640;
    opacity: 0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    order: 1;

    position: absolute;
    z-index: 100;
}

.selected-option {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected-option::after {
    content: "";
    background: url("../img/arrow-down.svg") no-repeat;
    background-size: contain;

    position: absolute;
    width: 32px;
    height: 100%;
    right: 10px;

    transition: ease-in 0.2s;
}

.select-box .options-container.active {
    max-height: 150px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
}

.select-box .options-container.active + .selected-option::after {
    transform: rotateX(180deg);
    top: -5px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected-option, .option-summa {
    padding: 12px 24px;
}

.option-summa{
    align-self: flex-end;
}

.select-box .option:hover {
    background: rgba(65,75,87, .5);
}

.select-box .option .radio {
    display: none;
}

.close-order-button{
    width: 100px;
    height: 48px;
    border: 0;
    border-radius: 8px;
    background: #2f3640;
    color: #f5f6fa;
}

.close-order-button:hover{
    border: #2f3640 solid;
    color: #2f3640;
    background: #f5f6fa;
}

.close-order-button:focus{
    outline: none !important;
}

.table thead th {
    border-top: none !important;    
}

.order-image{
    width: 150px;
    margin-right: 8px;
}

.order-image img{
    width: 100%;
    border-radius: 8px;
}

.order-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}