* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f6ff;
}


.select-box {
    width: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.options-container {
    max-height: 0;
    width: 100%;
    background: #f5f6fa;
    color: #2f3640;
    opacity: 0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    order: 1;

    position: absolute;
    z-index: 100;
}

.selected-option {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected-option::after {
    content: "";
    background: url("../img/arrow-down.svg") no-repeat;
    background-size: contain;

    position: absolute;
    width: 32px;
    height: 100%;
    right: 10px;

    transition: ease-in 0.2s;
}

.select-box .options-container.active {
    max-height: 150px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
}

.select-box .options-container.active + .selected-option::after {
    transform: rotateX(180deg);
    top: -5px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected-option, .option-summa {
    padding: 12px 24px;
}

.option-summa{
    align-self: flex-end;
}

.select-box .option:hover {
    background: rgba(65,75,87, .5);
}

.select-box .option .radio {
    display: none;
}
