#myslider {
  margin-top: 10px;
  min-width: 100%;
  height: 430px;
  left: 0;
  bottom: 0;
}

#myslider img
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: inline-block;
  float: left;
}

#white_line {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
