.profile {
  width: 26px;
  height: 26px;
}

.icon {
  display: inline-block;
  background-size: cover;
  margin-top: 5px;
}

.icon-twitter {
    background-image: url(../img/twitter.svg);
    width: 24px;
    height: 20px;
}

.icon-facebook {
    background-image: url(../img/facebook.svg);
    width: 15px;
    height: 22px;
}

.icon-instagram {
  background-image: url(../img/instagram-icon.svg);
  width: 22px;
  height: 22px;
}

.browse {
  font-size: 24px;
  font-family: Sitka Banner, serif;
  font-style: normal;
  font-weight: bold;
  color: rgba(255,255,255,1);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 5px;
  text-decoration: none;
}

.bg-img {
    background-image: url("../img/background_top.png");
    min-height: 490px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4E4E4E;
    position: relative;
}

.search {
  width: 25px;
  height: 25px;
}

.hide { display: none; }

.mysearch-box{
  position: absolute;
  left:40%;
  top: 50%;
  background: white;
  height: 70px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn{
  float:right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4E4E4E;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.search-btn:hover{
  background-color: rgba(55, 55, 71, 0.7);
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-regular.woff2') format('truetype');
}

.mysearch-txt{
  margin-top: 5px;
  border: none;
  background: none;
  outline: none;
  float:left;
  padding: 0 5px;
  color: #4E4E4E;
  width: 350px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s;
  line-height: 40px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#Up_Logo {
  left:45%;
  top: 65px;
  width: 243px;
  height: 154px;
  position: absolute;
  overflow: visible;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
