﻿@model BatuaShop2.ViewModels.FavouritesViewModel
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Мой профиль</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap" rel="stylesheet">

    <script src="~/js/selected-element.js"></script>
</head>
<body>
@await Html.PartialAsync("ShowTopDefaultWithoutLogo")
<div class="container">
    <div class="row g-0 h-100 w-100 align-items-top mt-5">
        <div class="col-md-3" id="account-menu">
            <ul data-tag="menuList" class="menu-list">
                <li onclick="switchChannel(this)">
                    <a asp-action="Page">
                        <div class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="Home">Мой профиль</span>
                        </div>
                    </a>
                </li>
                <li onclick="switchChannel(this)" class="selected">
                    <a>
                        <div class="icon">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="Favorites">Избранное</span>
                        </div>
                    </a>
                </li>
                <li onclick="switchChannel(this)">
                    <a asp-controller="Authorization" asp-action="LogOut">
                        <div class="icon">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="LogOut">Выйти</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 align-items-center" id="viewInfo">
            @{
                int rowElementsCount = 3;
                if (Model.favourites.Count() > 0)
                {
                    for (int i = 0; i < Model.favourites.Count(); i += rowElementsCount)
                    {
                        <div class="row ml-md-5">
                            @{
                                @for (int j = i; j < i + rowElementsCount && j < Model.favourites.Count(); j++)
                                {
                                    @if (Model.favourites[j] == null)
                                    {
                                        break;
                                    }
                                    <div class="col-sm-3 m-1 border rounded item p-3">

                                        <a asp-controller="OneBook" asp-action="GetOneBook" asp-route-id="@Model.favourites[j].id" style="text-decoration: none; color: black">
                                            <div style="height: 279px; position: relative;">
                                                <img alt="BookCover" class="mb-3 pt-2 rounded w-100" src="@Model.favourites[j].img">
                                            </div>

                                            <div class="book_desc">
                                                <p class="text-center">@Model.favourites[j].name</p>
                                                <p class="order-num text-center">@Model.favourites[j].price</p>
                                            </div>
                                            <a href=""><button onclick="addToFavourite(@Model.favourites[j].id)" class="cart-buttons" style="width: 100%">Удалить</button></a>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
                else
                {
                    <p class="text-black-50" style="font-weight: bold">Вы не добавили книг в избранное</p>
                }

            }

        </div>
    </div>
</div>

@await Html.PartialAsync("Footer")
</body>

<script>
function addToFavourite(bookId){
    var book = {
        bookId : bookId
    };
    $.ajax({
          type: "POST",
                          url: "/Books/AddToFavourite/",
                          data: book,
                          async: true,
                          error: function (jqXHR, textStatus, errorThrown) {
                              alert("Error- Status: " + textStatus + " jqXHR Status: " + jqXHR.status + " jqXHR Response Text:" + jqXHR.responseText) },
                          success: function (msg) {
                              if (msg){
                                  location.reload();
                              } 
                          }
        });
}

</script>