﻿@model BatuaShop2.ViewModels.ManagerInfoViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="~/css/favorites.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap" rel="stylesheet">

    <script src="~/js/selected-element.js"></script>
    <title>Мой профиль</title>
</head>
<body>
@await Html.PartialAsync("ShowTopDefaultWithoutLogo")
<div class="container mt-5">
    <div class="row g-0 h-100 w-100">
        <div class="col-md-3 " id="account-menu">
            <ul data-tag="menuList" class="menu-list">
                <li onclick="switchChannel(this)" class="selected">
                    <a href="http://en.wikipedia.org/wiki/Football">
                        <div class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="Home">Мой профиль</span>
                        </div>
                    </a>
                </li>
                <li onclick="switchChannel(this)">
                    <a asp-controller="Authorization" asp-action="LogOut">
                        <div class="icon">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="LogOut">Выйти</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 justify-content-end " id="viewInfo">
            <div id="personal-data">
                <h2 class="py-3 text-left ml-lg-5" style="font-weight: 800">
                    <i class="fa fa-address-book-o pr-3" aria-hidden="true"></i>
                    Личные данные менеджера
                </h2>
                <div id="login">
                    <div class="ml-md-5 pb-3">
                        <div class="row pb-1">
                            <div class="col">
                                <label class="label-text">ФИО</label>
                            </div>
                            <div class="col">
                                <label class="label-text">Эл. почта</label>
                            </div>
                        </div>
                        <div class="row pb-1">
                            <div class="col ">
                                <p>@Model.Users.SecondName @Model.Users.Name @Model.Users.LastName</p>
                            </div>
                            <div class="col">
                                <p>@Model.Users.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="orders">
                <h2 class="py-3 text-left ml-lg-5" style="font-weight: 800">
                    <i class="fa fa-shopping-cart pr-3" aria-hidden="true"></i>
                    Заказы
                </h2>
                <div id="active-orders">
                    <!--                            эта строчка если заказов у пользователя нет-->
                    <!--                            <div class="ml-md-5 pb-3">-->
                    <!--                                <p class="text-black-50" style="font-weight: bold">У вас нет активных заказов</p>-->
                    <!--                            </div>-->
                    <div class="ml-md-5 pb-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Заказ №</th>
                                <th scope="col">ФИ заказчика</th>
                                <th scope="col">Почта</th>
                                <th scope="col">Заказ</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                foreach (var order in @Model.Orders)
                                {
                                    <tr class="no-row-line">
                                        <td class="order-num">@order.id</td>
                                        <td>@order.surname @order.name</td>
                                        <td>@order.email</td>
                                        <td>
                                            <div class="select-box">
                                                <div class="options-container">
                                                    @{
                                                        int sum = 0;
                                                        foreach (var orderDetail in order.orderDetails)
                                                        {
                                                            sum = (int) (sum + orderDetail.price);
                                                            <div class="option">
                                                                <a asp-controller="OneBook" asp-action="GetOneBook" asp-route-id="@orderDetail.book.id" style="text-decoration: none; color: black">
                                                                    @orderDetail.book.name
                                                                </a>
                                                            </div>
                                                        }
                                                    }
                                                    <div class="option-summa">
                                                        <label >Сумма: @sum₽</label>
                                                    </div>
                                                </div>
                                                <div class="selected-option">
                                                    Подробности
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <button class="close-order-button" onclick="askForClose(@order.id)">Закрыть</button>
                                        </td>
                                    </tr>
                                }
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Footer")
<script src="~/js/select-box.js"></script>
</body>
</html>

<script>
function askForClose(orderId){
    var response = confirm("Закрыть заказ?");
    if (response){
        var order = {
                id : orderId
            };
       $.ajax({
       type: "POST",
       url: "/UserPage/CloseOrder/",
       data: order,
       async: true,
       error: function (jqXHR, textStatus, errorThrown) {
           alert("Error- Status: " + textStatus + " jqXHR Status: " + jqXHR.status + " jqXHR Response Text:" + jqXHR.responseText) },
       success: function (msg) {
           if (msg){
               location.reload();
           } 
       }
       });
    }
}

</script>