﻿<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="~/css/favorites.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap" rel="stylesheet">

    <script src="~/js/selected-element.js"></script>
    <title>Мой профиль</title>
</head>
@await Html.PartialAsync("ShowTopDefaultWithoutLogo")
@model BatuaShop2.ViewModels.UserPageViewModel
<body>
<div class="container mt-5">
    <div class="row g-0 h-100 w-100">
        <div class="col-md-3" id="account-menu">
            <ul data-tag="menuList" class="menu-list">
                <li onclick="switchChannel(this)" class="selected">
                    <a >
                        <div class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="Home">Мой профиль</span>
                        </div>
                    </a>
                </li>
                <li onclick="switchChannel(this)">
                    <a asp-action="Favourite">
                        <div class="icon">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="Favorites">Избранное</span>
                        </div>
                    </a>
                </li>
                <li onclick="switchChannel(this)">
                    <a asp-controller="Authorization" asp-action="LogOut">
                        <div class="icon">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </div>
                        <div class="name">
                            <span data-text="LogOut">
                                Выйти
                            </span>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 justify-content-end " id="viewInfo">
            <form>
                <div id="personal-data">
                    <h2 class="py-3 text-left ml-lg-5" style="font-weight: 800">
                        <i class="fa fa-address-book-o pr-3" aria-hidden="true"></i>
                        Личные данные
                    </h2>
                    <div id="login">
                        <div class="ml-md-5 pb-3">
                            <div class="row pb-1">
                                <div class="col">
                                    <label class="label-text">ФИО</label>
                                </div>
                                <div class="col">
                                    <label class="label-text">Эл. почта</label>
                                </div>
                            </div>
                            <div class="row pb-1">
                                <div class="col ">
                                    <p>@Model.User.SecondName @Model.User.Name @Model.User.LastName</p>
                                </div>
                                <div class="col">
                                    <p>@Model.User.Email</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="orders">
                        <h2 class="py-3 text-left ml-lg-5" style="font-weight: 800">
                            <i class="fa fa-shopping-cart pr-3" aria-hidden="true"></i>
                            Заказы
                        </h2>
                        <div id="active-orders">
                            @if (Model.orders.Count == 0)
                            {
                                <div class="ml-md-5 pb-3">
                                    <p class="text-black-50" style="font-weight: bold">У вас нет активных заказов</p>
                                </div>
                            }
                            else
                            {
                                <div class="ml-md-5 pb-3">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Заказ №</th>
                                            <th scope="col">Количество Товаров: </th>
                                            <th scope="col">К оплате</th>
                                            <th scope="col">Статус</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @{
                                            foreach (var order in @Model.orders)
                                            {
                                                <tr>
                                                    <td class="order-num">@order.id</td>
                                                    <td>
                                                        @{
                                                            for (int i = 0; i < @order.orderDetails.Count; i++)
                                                            {
                                                                <a asp-controller="OneBook" asp-action="GetOneBook" asp-route-id="@order.orderDetails[i].book.id" style="text-decoration: none; color:black;">
                                                                    <div class="order-details">
                                                                        <div class="order-image">
                                                                            <img src="@order.orderDetails[i].book.img" alt="noImage"/>
                                                                        </div>
                                                                        <span>@order.orderDetails[i].book.name</span>
                                                                    </div>
                                                                </a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            uint sum = 0;
                                                            if (order.orderDetails != null)
                                                            {
                                                                foreach (var o in order.orderDetails)
                                                                {
                                                                    sum += o.price;
                                                                }
                                                            }
                                                        }
                                                        @sum
                                                    </td>
                                                    <td>
                                                        @{
                                                            var status = order.status != 0 ? "Открыт" : "Закрыт";
                                                        }
                                                        @status
                                                    </td>
                                                </tr>
                                            }
                                        }

                                        </tbody>
                                    </table>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@await Html.PartialAsync("Footer")
</body>
<script>
</script>