﻿@using Microsoft.AspNetCore.Http
@model Book
<div class="col-md-3">
    <a asp-controller="OneBook" asp-action="GetOneBook" asp-route-id="@Model.id" style="text-decoration: none">
        <img alt="BookCover" class="book_img" src="@Model.img">
        <div class="book_desc">
            <p class="book_name">
                @Model.name<br><br>@Model.shortDesc
            </p>

            <p class="book_price">@Model.price ₽ </p>
        </div>
        <p>
            <a href="#">
            <button class="cart-buttons" onclick="addToCart(@Model.id)">
                Добавить в корзину
            </button>
            </a>
        </p>
    </a>
</div>

<script>
function addToCart(bookId){
    var book = {
        id : bookId 
    };
    $.ajax({
      type: "POST",
                      url: "/Books/AddToCart/",
                      data: book,
                      async: true,
                      error: function (jqXHR, textStatus, errorThrown) {
                          alert("Error- Status: " + textStatus + " jqXHR Status: " + jqXHR.status + " jqXHR Response Text:" + jqXHR.responseText) },
                      success: function (msg) {
                          if (msg){
                             
                                  location.reload();
                          } else {
                              alert("Some error");
                          }
                      }
    });
}



</script>