﻿@model BatuaShop2.ViewModels.BooksListViewModel
<head>
    <title>BOOK SHOP Categories</title>

    <link href="~/css/cart.css" rel="stylesheet">
</head>
<body>
@await Html.PartialAsync("ShowTopDefault")
{
<h2 class="fiction container">@Model.currCategoryName</h2>
<hr>
<div class="container">
    <div class="row">
        @{
            foreach (Book book in Model.allBooks)
            {
                @await Html.PartialAsync("AllBooks", book)
                ;
            }

        }
    </div>
</div>

}
</body>
<div class="page" style="float: right; margin-top: 250px;">
    <nav class="nav">
        @{
            var prevPage = Model.selectedPage - 1;
            if (Model.selectedPage != 1)
            {
                <p style="float: right; font-size: 40px" onclick="changeAddress('@Model.currCategory', '@prevPage')">
                    <i class="arrowleft"></i>
                    Prev
                </p>
            }
            foreach (int pageNum in Model.pageNumbers)
            {
                if (pageNum == Model.selectedPage)
                {
                    <a href="#" onclick="changeAddress('@Model.currCategory', '@pageNum')"
                       style="font-weight: bold; font-size: 50px">
                        @pageNum
                    </a>
                }
                else
                {
                    <a href="#" onclick="changeAddress('@Model.currCategory', '@pageNum')">
                        @pageNum
                    </a>
                }
            }
        }
        @{
            var nextPage = Model.selectedPage + 1;
            if (Model.selectedPage != Model.pageNumbers[Model.pageNumbers.Count() - 1])
            {
                
            <p style="float: right; font-size: 40px" onclick="changeAddress('@Model.currCategory', '@nextPage')">
                    Next
                    <i class="arrowright"></i>
                </p>
            }
        }

    </nav>
</div>
@await Html.PartialAsync("Footer")

<script>
           let count1 = 0;
           function showCategory() {
               const category = document.getElementById("category");
               if (count1 === 0)
                   category.style.visibility = 'visible';
               else
                   category.style.visibility = 'hidden';
               count1 = count1 === 0 ? 1 : 0;
           }
       
           const element1 = document.getElementById('category');
           document.addEventListener('click', function ({ target }) {
               let isVisible;
               isVisible = element1.contains(target);
               (count > 0) ? count++ : 0;
               if (!isVisible && count >= 3) {
                   document.getElementById('category').style.visibility = "hidden";
                   count = 0;
               }
           });
           function changeAddress(bookCat, page) {
               location.href = "localhost:44315";
               location.pathname = "/Books/List/" + bookCat + "/" + page;
          }
</script>